<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kai.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.TinkerAppLike"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="HardcodedDebugMode">

        <activity
            android:name="com.kai.ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kai.ui.main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.kai.ui.bookdetail.BookDetailActivity" />
        <activity android:name="com.kai.ui.fonts.FontsActivity" />
        <activity android:name="com.kai.ui.login.LoginActivity" />
        <activity android:name="com.kai.ui.register.RegisterActivity" />
        <activity android:name="com.kai.ui.forgetpassword.ForgetPasswordActivity" />
        <activity android:name="com.kai.ui.bluetooth.BluetoothActivity" />
        <activity android:name="com.kai.ui.search.SearchActivity" />
        <activity android:name="com.kai.ui.rankingdetail.RankingDetailActivity" />
        <activity android:name="com.kai.ui.bookinfo.BookInfoActivity" />
    </application>

</manifest>